NUXT_SESSION_PASSWORD=any-random-password-you-can-think-of-just-put-it-in-here
NUXT_UI_PRO_LICENSE=

# TODO: Make sure when you build the app, this remains empty. This is for debug purposes for me to run drizzle studio to inspect the sqlite database correctly.
DEV_USE_LOCAL_SQLITE_DB_PATH=